{% extends '@Gui/Layout/layout.twig' %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Process Result Details' } %}

        {% block widget_content %}
            <h4>{{ 'Process Details' | trans }}</h4>
            <table class="table">
                <tr>
                    <td style="width: 150px;">Start Time</td>
                    <td>{{ processResult.StartTime | replace({".000000": ""}) }}</td>
                </tr>
                <tr>
                    <td style="width: 150px;">End Time</td>
                    <td>{{ processResult.EndTime | replace({".000000": ""}) }}</td>
                </tr>
                <tr>
                    <td style="width: 150px;">Items Count</td>
                    <td>{{ processResult.ItemCount }}</td>
                </tr>
                <tr>
                    <td style="width: 150px;">Processed Item Count</td>
                    <td>{{ processResult.ProcessedItemCount }}</td>
                </tr>
                <tr>
                    <td style="width: 150px;">Skipped Item Count</td>
                    <td>{{ processResult.SkippedItemCount }}</td>
                </tr>
                <tr>
                    <td style="width: 150px;">Failed Item Count</td>
                    <td>{{ processResult.FailedItemCount }}</td>
                </tr>
            </table>

            <h4>{{ 'Process Configuration' | trans }}</h4>
            <table class="table">
                <thead>
                <tr>
                    <th>Plugin</th>
                    <th>Name</th>
                    <th>Path</th>
                </tr>
                </thead>
                <tr>
                    <td>Iterator Plugin</td>
                    <td>{{ processResult.ProcessConfiguration.IteratorPluginName | raw }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Input Stream Plugin</td>
                    <td>{{ processResult.ProcessConfiguration.InputStreamPlugin.StreamPluginName | raw }}</td>
                    <td>{{ processResult.ProcessConfiguration.InputStreamPlugin.Path | raw }}</td>
                </tr>
                <tr>
                    <td>Output Stream Plugin</td>
                    <td>{{ processResult.ProcessConfiguration.OutputStreamPlugin.StreamPluginName | raw }}</td>
                    <td>{{ processResult.ProcessConfiguration.OutputStreamPlugin.Path | raw }}</td>
                </tr>
                <tr>
                    <td>Logger Plugin</td>
                    <td>{{ processResult.ProcessConfiguration.loggerPluginName | raw }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Stage Plugins</td>
                    <td>
                        {% for pluginName in processResult.ProcessConfiguration.stagePluginNames %}
                            {{ pluginName | raw }} <br/>
                        {% endfor %}
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>Pre Process Hook Plugins</td>
                    <td>
                        {% for pluginName in processResult.ProcessConfiguration.preProcessHookPluginNames %}
                            {{ pluginName | raw }} <br/>
                        {% endfor %}
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>Post Process Hook Plugins</td>
                    <td>
                        {% for pluginName in processResult.ProcessConfiguration.postProcessHookPluginNames %}
                            {{ pluginName | raw }} <br/>
                        {% endfor %}
                    </td>
                    <td></td>
                </tr>
            </table>

            <h4>{{ 'Process Stage Results' | trans }}</h4>
            <table class="table">
                <thead>
                <tr>
                    <th>Stage Name</th>
                    <th>Input Item Count</th>
                    <th>Output Item Count</th>
                    <th>Total Execution Time</th>
                    <th>Average Item Execution Time</th>
                </tr>
                </thead>
                {% for item in processResult.StageResults %}
                    <tr>
                        <td>{{ item.StageName }}</td>
                        <td>{{ item.InputItemCount }}</td>
                        <td>{{ item.OutputItemCount }}</td>
                        <td>{{ (item.TotalExecutionTime * 0.001) | round | date('H:i:s') }}</td>
                        <td>{{ (item.TotalExecutionTime/item.InputItemCount * 0.001) | round | date('H:i:s') }}</td>
                    </tr>
                {% endfor %}
            </table>


        {% endblock %}

    {% endembed %}

{% endblock %}